#ignore target
**/target

#ignore bin from addtions
additions/bin/

#ignore main pom - not changed in any way
pom.xml

# ignore eclipse especific files
**/.settings
**/.classpath
**/.project

# ignore dpsace overlay which  needn't to be modified
lni/
oai/
rdf/
rest/
solr/
sword/
swordv2/
xmlui/
xmlui-mirage2/
