ignore target
**/target

# ignore eclipse especific files
**/.settings
**/.classpath
**/.project

# ignore dpsace overlay which needed to be modified
lni/
oai/
rdf/
rest/
solr/
sword/
swordv2/
xmlui/
xmlui-mirage2/
